body {
  font-family: sans-serif;
  color: #555;
  background-color: #ccc;
  margin-top: 0;
}

h1 {
  font-size: 20px;
  color: #2195c6;
}

/*  Hamburger button  */
nav img {
  width: 40px;
  height: 40px;
}

/*  Navigation menu  */
.navbar-menu {
  /* Initially hidden */
  display: none;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  background-color: lightblue;
}

/*  Show the navigation menu when hovering over the navbar */
nav:hover .navbar-menu {
  display: flex;
}

#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 7%;
}

.product-image {
  text-align: center;
}

.product {
  width: 30%;
  border: 1px dashed pink;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}
/* this next area makes the even numbered products have a grey border and the odd numbered products have a green border */
#product-grid .product:nth-child(even) {
  border: 2px solid grey;
}
#product-grid .product:nth-child(odd) {
  border: 2px solid green;
}
/* product looks a little greyed out until hovered over */
.product img {
  width: 80%;
  opacity: 0.5;
}

/*when product is hovered over the image becomes less opaque*/
img:hover {
  opacity: 1;
}

.product .description {
  text-align: center;
}
/* Highlighted background 
  */
.description::selection {
  background-color: yellow;
  color: green;
}

#gridclear {
  clear: left;
}
@media (max-width: 1000px) {
  .product {
    width: 45%;
  }
  .container {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .product {
    width: 80%;
  }
}
